<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java1234.dao.ArticleTypeDao">

	<resultMap type="ArticleType" id="ArticleTypeResult">
		<id property="id" column="id"/>
		<result property="articleType" column="articleType"/>
		<result property="orderNo" column="orderNo"/>
	</resultMap>
	
	<resultMap type="Map" id="ArticleType2Result">
		<result property="articleType" column="articleType"/>
		<result property="id" column="id"/>
		<result property="count" column="num"/>
	</resultMap>
	
	<select id="getAll"  resultMap="ArticleTypeResult">
		select * from td_articleType
	</select>
	
	<insert id="addArticleType" parameterType="ArticleType">
		insert td_articleType(articleType,orderNo) values(#{articleType},#{orderNo})
	</insert>
	
	<select id="getByPage"  parameterType="Map" resultMap="ArticleTypeResult">
		select * from td_articleType
		<if test="current != null and totalSize != null">
			limit #{current},#{totalSize}
		</if>
	</select>
	
	<select id="getCount" resultType="Integer">
		select count(*) from td_articleType
	</select>
	
	<select id="getArticleCountByType" resultMap="ArticleType2Result">
		select a2.articleType,a2.id,count(a2.articleType) num
 from td_article a1 left join td_articleType a2 on a2.id=a1.articleTypeId group by a2.articleType,a2.id; 
	</select>
	
	<delete id="deleteArticleType" parameterType="Map">
		delete from td_articleType
		<if test="ids != null">
		<where>
			id in
			<foreach collection="ids" item="id" open="(" close=")" separator=",">
				#{id}
			</foreach>
		</where>
		</if>
	</delete>
	
	
</mapper> 